src/AdminInterface/Service References/ServiceReference1/StatisticService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Counter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Counter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientStatus" nillable="true" type="tns:ClientStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientStatus" nillable="true" type="tns:ArrayOfClientStatus" />
  <xs:complexType name="ClientStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ClientCode" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="_MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientStatus" nillable="true" type="tns:ClientStatus" />
</xs:schema>