src/AdminInterface/Service References/ServiceReference1/StatisticService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emkwork.adc.analit.net/8F24BB48/StatisticService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Counter" />
  <xs:element name="GetUpdateInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Counter" minOccurs="0" name="GetUpdateInfoResult" nillable="true" type="q1:ArrayOfClientStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>